{% use 'tailwind_2_layout.html.twig' %}

{% block form_row %}
    {% set row_class = row_class|default('form-control ') %}
    {{ parent() }}
{% endblock form_row %}

{% block form_widget %}
    {% set widget_class = widget_class|default('input input-bordered') %}
    {% set widget_errors_class = 'bg-red-400'    %}
    {{ parent() }}
{% endblock %}
{%- block textarea_widget -%}
    {% set widget_class = widget_class|default('input input-bordered') %}
    {% set widget_errors_class = 'bg-red-400'    %}
    {{ parent() }}
{% endblock %}

{% block form_widget_simple %}
    {% set widget_class = widget_class|default('input input-bordered') %}
    {% set widget_errors_class = 'bg-red-400'    %}
    {{ parent() }}
{% endblock %}
{% block email_widget %}
    {% set widget_class = widget_class|default('input input-bordered') %}
    {% set widget_errors_class = 'bg-red-400'    %}
    {{ parent() }}
{% endblock %}
{% block choice_widget %}
    {% set widget_class = widget_class|default('select select-bordered') %}
    {% set widget_errors_class = 'ring-red-400' %}
    {{ parent() }}
{% endblock %}
{% block number_widget %}
    {% set widget_class = widget_class|default('input input-bordered') %}
    {% set widget_errors_class = 'bg-red-400'    %}
    {{ parent() }}
{% endblock %}
{% block integer_widget %}
    {% set widget_class = widget_class|default('input input-bordered') %}
    {% set widget_errors_class = 'bg-red-400'    %}
    {{ parent() }}
{% endblock %}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('checkbox checkbox-primary') -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%}

{% block form_label %}
    {% if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <label class="label">
        <span class="label-text">{{ label }}</span>
    </label>
{% endblock form_label %}


{%- block checkbox_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6')) }) -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}{% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <div class="form-control">
            <label class="cursor-pointer label">
                <span class="label-text">{{ label }}</span>
                {{- form_widget(form, widget_attr) -}}
            </label>
        </div>
        {{- form_help(form) -}}
    </div>
{%- endblock checkbox_row -%}
