{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% form_theme registrationForm 'form/theme.html.twig' %}

{% block body %}
    <main class="w-full bg-base-200">
        <div class="container mx-auto hero min-h-screen">
            <div class="flex-col justify-center hero-content gap-12 lg:flex-row">
                <div class="text-center lg:text-left">
                    <h1 class="mb-5 text-5xl font-bold">
                        Inscription
                    </h1>
                    <p class="mb-5">
                        Inscris-toi pour pouvoir toi aussi candidater à un lundi Ouistiti !
                    </p>
                </div>{{ form_start(registrationForm, {
                    attr: {class: 'card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100'}
                }) }}
                <div class="card-body">
                    {{ form_row(registrationForm.username,{
                        label: 'Pseudo'
                    } ) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}

                    <div class="mt-6 flex gap-4 justify-between items-center">
                        <div class="form-control flex-1">
                            <a href="{{ path('login') }}" class="text-sm underline text-gray-500">Retour à la connexion</a>
                        </div>
                        <div class="form-control flex-1">
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                        </div>
                    </div>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </main>
{% endblock %}
