{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <main class="w-full bg-base-200">
        <div class="container mx-auto hero h-screen">
            <div class="flex-col justify-center hero-content gap-12 lg:flex-row">
                <div class="text-center lg:text-left w-96 max-w-full">
                    <h1 class="mb-5 text-5xl font-bold">
                        Se connecter
                    </h1>
                    <p class="mb-5">
                        Connecte-toi à ton compte
                    </p>
                </div>
                <form action="{{ path('login') }}" method="post"
                      class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-error mb-2">
                                <div class="flex-1">
                                    <label>{{ error.messageKey|trans(error.messageData, 'security') }}</label>
                                </div>
                            </div>
                        {% endif %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-error mb-2">
                                <div class="flex-1">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Email</span>
                            </label>
                            <input type="text" placeholder="email" name="_username" class="input input-bordered">
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Mot de passe</span>
                            </label>
                            <input type="password" placeholder="mot de passe" name="_password"
                                   class="input input-bordered">
                        </div>
                        <a href="{{ path('app_forgot_password_request') }}" class="text-sm text-accent underline mt-5">Mot
                            de passe oublié ?</a>
                        <div class="mt-6 flex gap-4 justify-between">
                            <div class="form-control flex-1">
                                <a href="{{ path('app_register') }}" class="btn btn-neutral">Inscription</a>
                            </div>
                            <div class="form-control flex-1">
                                <input type="submit" value="Connexion" class="btn btn-primary">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
