<div class="fixed top-0 left-0 w-full navbar mb-2 shadow-lg bg-neutral text-neutral-content z-50">
    {#    <div class="flex-none hidden lg:flex"> #}
    {#        <button class="btn btn-square btn-ghost"> #}
    {#            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"> #}
    {#                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path> #}
    {#            </svg> #}
    {#        </button> #}
    {#    </div> #}
    <div class="container mx-auto flex items-center">
        <div class="flex-1 hidden px-2 mr-2 lg:flex">
            <a href="{{ path('home') }}" class="text-lg font-bold">
                {{ get_option('site_title') }}
            </a>
        </div>
        <div class="ml-auto">
            <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </button>
        </div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                </svg>
            </button>
        </div>
        {% if(is_granted("ROLE_USER")) %}

            <div class="dropdown dropdown-end">

                <div tabindex="0" class="avatar btn btn-circle bg-transparent hover:bg-transparent border-none">
                    <div class="rounded-full w-10 h-10 m-1">
                        <img src="{{ asset('build/img/avatar.svg') }}">
                    </div>
                </div>
                <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                    {% if(is_granted("ROLE_ADMIN")) %}
                    <li>
                        <a href="{{ path('admin_dashboard') }}" class="hover:bg-accent">Admin</a>
                    </li>
                    {% endif %}
                    <li>
                        <a>Mon compte</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}" class="hover:bg-error" data-no-swup>Déconnexion</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="{{ path('login') }}" class="ml-2 btn btn-ghost">Connexion</a>
        {% endif %}
    </div>
</div>
